#register_main {
    border: 2px solid lightgray;
    border-radius: 50px;
    max-width: 960px;
    padding: 80px 20px 80px 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.register_tag {
    display: inline-block;
    width: 150px;
}

.rg_btn_group {
    position: relative;
    top: 25px;
}